.service-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.service-item img {
  width: 48px;
  height: 48px;
}

.service-item span {
  color: #25324b;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

/* 2 items */

@media (max-width: 960px) {
  .service-item span {
    font-size: 20px;
  }
  .service-item img {
    width: 34px;
    height: 34px;
  }
}
@media (max-width: 768px) {
  .service-item img {
    width: 32px;
    height: 32px;
  }

  .service-item span {
    font-size: 18px;
  }
}
