/* SECTION */
.footer {
  position: relative;
  background: #1d2230;
  color: #fff;
  padding: 64px 0 40px;
  overflow: hidden;
  font-size: 16px;
}

/* CONTENT GRID */
.footer__container {
  position: relative;
  z-index: 2;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 376px 1fr 1fr 1.2fr;
  gap: 60px;
}

.footer__logo {
  width: 143px;
  margin-bottom: 39px;
}

.footer__desc {
  line-height: 1.6;
  max-width: 500px;
  width: 100%;
  color: #d0d3de;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* TITLES */
.footer__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

/* LISTS */
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__list a {
  color: #d6ddeb;
  transition: 0.3s;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.footer__list a:hover {
  color: #ffffff;
}

/* FEEDBACK BLOCK */
.footer__text {
  color: #d0d3de;
  margin-bottom: 16px;
}

.footer__mail-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 400px;
  width: 100%;
}

.footer__mail-form input {
  flex: 1;
  padding: 12px 14px;
  border: none;
  outline: none;
  font-size: 14px;
}

.footer__mail-form button {
  background: #4640de;
  border: none;
  color: #fff;
  padding: 12px 24px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.footer__mail-form button:hover {
  background: #3f32d4;
}

/* CONTACTS */
.footer__contacts p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  color: #d0d3de;
}

/* BOTTOM ROW */
.footer__bottom {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid #2c3141;

  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__socials a {
  display: flex;
  gap: 24px;
  opacity: 0.7;
  transition: 0.3s;
}

.footer__socials a:hover {
  opacity: 1;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
  }

  .footer__mail-form {
    flex-direction: column;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
