/* BOX */
.calendar-box {
  background: #fff;
  padding: 32px;
  height: fit-content;
  border: 1px solid #d6ddeb;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.calendar-title {
  font-size: 32px;
  font-weight: 800;
  color: #25324b;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

/* BUTTON */
.calendar-buy {
  width: 100%;
  padding: 14px;
  border: 1px solid #4640de;
  background: #fafaff;
  color: #4640de;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* REACT-DAY-PICKER CUSTOM */
.custom-calendar {
  --rdp-cell-size: 42px;
  --rdp-accent-color: #4640de;
}

.custom-calendar .rdp-caption {
  font-size: 14px;
  color: #25324b;
  font-weight: 700;
  margin-bottom: 8px;
}

/* Weekday labels */
.custom-calendar .rdp-weekday {
  color: #7c8493;
  font-size: 12px;
  font-weight: 600;
}

/* Normal day */
.custom-calendar .rdp-day {
  font-size: 15px;
  color: #25324b;
}

/* Outside days */
.custom-calendar .rdp-day_outside {
  color: #cdd3e0 !important;
}

/* Selected (active) */
.custom-calendar .rdp-day_selected {
  background: #4640de !important;
  color: white !important;
  border-radius: 50% !important;
}

/* Hover */
.custom-calendar .rdp-day:hover {
  background: #ecebff !important;
  border-radius: 50%;
}

/* Disable focus outline */
.custom-calendar .rdp-day:focus {
  outline: none;
  box-shadow: none;
}
