.driver-card {
  border: 1px solid #d6ddeb;
  border-radius: 4px;
  text-align: center;
  background: #fff;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}

.driver-card__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.driver-card__name {
  font-size: 18px;
  font-weight: 600;
  color: #25324b;
  line-height: 160%;
}

.driver-card__exp {
  font-size: 16px;
  color: #7c8493;
}

/* Icons */
.driver-card__icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.driver-card__icons img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .driver-card {
    padding: 20px 15px;
  }
}
